{% extends "base_generic.html" %}

{% block content %}
<body>

<!-- Mensaje de suscripcion-->
	<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h2 class="mx-auto text-center" id="secundarioSuscribe">Nombre: {{voluntario.nombre }} {{voluntario.apellido}}</h2>
        <h2 class="mx-auto text-center" id="secundarioSuscribe">Rut: {{voluntario.rut}}</h2>
        <h2 class="mx-auto text-center" id="secundarioSuscribe">Telefono: {{voluntario.telefono}}</h2>
        <h2 class="mx-auto text-center" id="secundarioSuscribe">Email: {{voluntario.email}}</h2>
        <h2 class="mx-auto text-center" id="secundarioSuscribe">Pais: {{voluntario.pais}}</h2>
        <a href="{% url 'voluntario_eliminar' voluntario.id %}" class="btn btn-danger">Eliminar</a>
        <a href="{% url 'voluntario_update' voluntario.id %}" class="btn btn-primary js-scroll-trigger">Modificar</a>
     
<!--         
        <dl>
           	{% for voluntario in author.voluntario_set.all %}
  				<dt><a href="{% url 'voluntario-detail' voluntario.pk %}">{{voluntario}}</a> ({{voluntario.voluntarioinstance_set.all.count}})</dt>
  				<dd>{{voluntario.summary}}</dd>
				{% endfor %}
		  </dl> -->
      </div>
    </div>
   </header>

</body>

{% endblock %}