{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<!-- Contenido del formulario-->
	<section id="signup" class="signup-section">
    <div class="mx-auto text-center">
      <div class="mx-auto text-center">
        <div class="mx-auto text-center">
          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5" >!Tú también puedes ayudar¡</h2>
				<form method="post" name="datos"  class="mx-auto text-center">
				{% csrf_token %}
						<input type="text" name="rut" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Rut" id="rut" autofocus>
						<br>				
						<input type="text" name="nombre" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Nombre" id="nombre" autofocus>
						<br>
						<input type="text" name="apellido" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Apellido" id="apellido" autofocus>
						<br>
						<input type="text" name="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Email" id="correo" autofocus>
						<br> 
						<input type="text" name="telefono" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Teléfono (Ej: 9xxxxxxxx)" id="telefono" autofocus>
						<br>
						<select type="text" name="pais" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="selectorPais">
						  <option value="pais0">Seleccione un país</option>
						  <option value="pais1">Venezuela</option>
                    <option value="pais2">Perú</option>
                    <option value="pais3">Bolivia</option>
                    <option value="pais4">Colombia</option>
                    <option value="pais5">Ecuador</option>
                    <option value="pais6">Argentina</option>
                    <option value="pais7">Brasil</option>
                    <option value="pais8">Panama</option>
                    <option value="pais9">Uruguay</option>
					<option value="pais10">Paraguay</option>
					<option value="pais11">Chile</option>
						</select>
				<br>
				<button type="submit" class="btn btn-primary mx-auto" class="text-white mb-5">Enviar</button>
				<a href="{% url 'index' %}" class="btn btn-danger">Volver</a>

				</form>
		  </div>
		</div>
	</div>
	</section>
<!--				
						<input type="text" name="rut" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Rut" id="rut" autofocus>
						<br>				
						<input type="text" name="nombre" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Nombre" id="nombre" autofocus>
						<br>
						<input type="text" name="apellido" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Apellido" id="apellido" autofocus>
						<br>
						<input type="text" name="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Email" id="correo" autofocus>
						<br> 
						<input type="text" name="telefono" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Teléfono (Ej: 9xxxxxxxx)" id="telefono" autofocus>
						<br>
						<select type="text" name="pais" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="selectorPais">
						  <option value="pais0">Seleccione un país</option>
						  <option value="pais1">Venezuela</option>
                    <option value="pais2">Perú</option>
                    <option value="pais3">Bolivia</option>
                    <option value="pais4">Colombia</option>
                    <option value="pais5">Ecuador</option>
                    <option value="pais6">Argentina</option>
                    <option value="pais7">Brasil</option>
                    <option value="pais8">Panama</option>
                    <option value="pais9">Uruguay</option>
                    <option value="pais10">Paraguay</option>
						</select>
-->						



{% endblock %}